h1 {
    text-align: center;
    color: rgb(49, 34, 34);
    padding-top: 20px;
    margin-left: 50px;
}

table {
    border: 5px rgb(15, 15, 10) solid;
}

table td {
    border: 1px solid rgb(25, 25, 31);
    width: 100px;
    height: 100px;
    text-align: center;
}

/*
#td1 {
	background-image: url(num_1.png);
	background-size: cover;
	/*background-color: rgba(23, 23, 50, 0.7);*/
}*/

